.wrapper__main-chat
  .wrapper__main-chat__group-header
    .wrapper__main-chat__group-header__group-info
      .wrapper__main-chat__group-header__group-info__group-name
        = @group.name
          %button{:onclick => "TogetherJS(this); return false;"} TogetherJSを起動！
      .wrapper__main-chat__group-header__group-info__group-member
        Member:
        - @group.users.each do |user|
          = user.name
    .wrapper__main-chat__group-header__group-edit
      = link_to edit_group_path(@group) do
        Edit

  .wrapper__main-chat__message-list
    = render @messages

  = form_with model: [@group, @message], html: {class: "wrapper__main-chat__message-form"}, local: true do |f|
    .wrapper__main-chat__message-form__post-box
      .wrapper__main-chat__message-form__post-box__text
        = f.text_field :content, class: 'wrapper__main-chat__message-form__post-box__text__text-form', placeholder: 'type a message'
        = f.label :image, class: 'wrapper__main-chat__message-form__post-box__text__img' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'wrapper__main-chat__message-form__post-box__text__img__file'
      = f.submit 'Send', class: 'wrapper__main-chat__message-form__post-box__send'

  