.wrapper__main-chat__message-list__post{"data-message-id": "#{message.id}"}
  .wrapper__main-chat__message-list__post__post-info
    .wrapper__main-chat__message-list__post__post-info__name
      = message.user.name
    .wrapper__main-chat__message-list__post__post-info__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .wrapper__main-chat__message-list__post__message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?
